.square {
    width: 100%;
    height: 100%;
    font-size: 2em;
    background: transparent;
    border: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 999;
    padding: 2px;
    /* position: absolute;
    top: 0; left: 0; */
}

.square:disabled {
    cursor: default;
}